/* bodoni moda font  */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

/* montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.font-bodoni {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


section {
  min-height: 100vh;
  min-width: 100%;
  cursor: pointer;
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-montserrat {
 font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



.arrow:hover .arrow span{
  opacity: 100%;
}