@import "tailwindcss";

:root {
  color: #e0e0e0;
  background-color: #313131;
}
::-webkit-scrollbar {
  display: none;
}
body,
html {
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}


.marquee-track {
  display: inline-flex;
  white-space: nowrap;
  will-change: transform;
  /* animation: marquee 14s linear infinite; */
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Reduce text selection flicker on scroll */
.marquee-track > * {
  flex-shrink: 0;
}
