@import "tailwindcss";

:root {
  color: #e0e0e0;
  background-color: #313131;
}

body,html {
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw;
}

button {
  cursor: pointer;
  background-color: red;
}

a {
  cursor: pointer;
}