@import "tailwindcss";

:root {
  color: #e0e0e0;
  background-color: #313131;
}
::-webkit-scrollbar {
  display: none;
}

::selection{
     background-color: yellow;
     color: rgb(0, 0, 0);
}
body,
html {
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}
